.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
  border-radius: 0 50% 50% 0;
}

.items {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-left: 20px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }
}
