.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-left: 20px;
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}

.icon {
  fill: var(--secondary-color);
  flex-shrink: 0;
}

.link {
  color: var(--secondary-color);
  white-space: nowrap;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    opacity: 0;
    width: 0;
    height: 24px;
    transition: 0.2s opacity;
  }
}
