.gallery {

  width: 230px;
  cursor: pointer;
  transition: var(--transition-duration);
  .date{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &:hover {

    opacity: 0.8;
    transform: scale(1.01);
    .date {
      display: block;
    }
  }

  .imageWrapper{
    width: 200px;
    height: 200px;
    position: relative;
  }
  .image {
    width: 200px;
    height: 200px;
  }

  .infoWrapper{
    display: flex;
    align-items: center;
    margin-top: 8px;

  }
  .types p {
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .view{
    margin-left: auto;
    margin-right: 8px;
  }
  .title  {
    margin-top: 8px;
  }
  .title p  {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list {

}