.inputWrapper {
  position: relative;
  padding: 8px 0;
}

.input {
  border-radius: 8px;
  padding: 8px;
  background-color: unset;
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);

  &:focus {
    outline: none !important;
    border: 2px solid var(--primary-color);
  }
}

.label {
  position: absolute;
  top: -3px;
  left: 10px;
  padding: 0 5px;
  font: var(--font-s);
  color: var(--secondary-color);
}

.fullWidth {
  width: 100%;
}

.outlined {
  .label {
    background-color: var(--bg-color);
  }
}

.outlined-inverted {
  .label {
    background-color: var(--inverted-bg-color);
  }
}
