.Wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 0;
}

.label {
  position: absolute;
  top: -5px;
  left: 10px;
  padding: 0 5px;
  font: var(--font-s);
  color: var(--secondary-color);
  background-color: var(--bg-color);
  z-index: var(--select-label-zindex);
}

.select {
  padding: 8px 16px;
  border: 1px solid var(--primary-color);
  background-color: unset;
  border-radius: 4px;
  outline: none;
  color: var(--secondary-color);

  &:focus {
    border: 2px solid var(--primary-color);
  }
}

.option {
  background-color: var(--bg-color);
  color: var(--primary-color);
}
