[data-theme="dark"] {
  --bg-color: #121212;
  --inverted-bg-color: #383838;
  --primary-color: #bb86fc;
  --secondary-color: #fff;
  --error-color: #ff6464;
  --success-color: #43b911;
  --primary-color-alpha40: rgb(187 134 252 / 40%);
  --code-bg: #252525;

  // скелктон

  --skeleton-color: #464646;

  //card
  --card-bg: #262626;
}
